# -*- coding: utf-8 -*-
# 通用依赖
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-dotenv==0.19.0
pydantic[email]==2.5.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.5

# 数据库依赖
sqlalchemy==2.0.23
pymysql==1.1.0
motor==3.3.2
pymongo==4.6.1
redis==5.0.1

# 爬虫依赖
requests>=2.31.0
beautifulsoup4==4.12.2
aiohttp==3.9.1

# 系统信息依赖
psutil==5.9.6

# 命令行工具
typer[all]==0.9.0

# 日志相关
python-json-logger==2.0.7 